@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-page,
.catalog-page {
  background-color: #FEAFC3;
}

.page-second {
  background-color: #69A9FF;
}

.page-third {
  background-color: #FCC850;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1170px;
  margin: 0 auto;


}

.page-header {
  margin-bottom: 21px;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;

}

.nav-logo {
  display: block;
  margin-right: 16px;


}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}


.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: fit-content;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;

}

.navigation-link {
  display: block;
  padding: 8px 16px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link-current {
  background: #FF4A78;
  color: #FCFCFC;
  border-radius: 26px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.navigation-link:active {
  background-color: #FCFCFC;
  border-radius: 26px;
}

.nav-logo {
  padding: 0;
}

.search-link {
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icons/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.log-in-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../images/icons/log-in-icon.svg);
  background-repeat: no-repeat;
  left: 15px;
  top: 8px;
}

.basket-link::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/empty-cart.svg);
  background-repeat: no-repeat;
  left: 15px;
  top: 8px;
}

.basket-link-filled::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/full-cart.svg);
  background-repeat: no-repeat;
  left: 15px;
  top: 8px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link,
.navigation-user .navigation-item:nth-child(4) .navigation-link {
  position: relative;
  padding: 6px 16px 6px 38px;
  border-radius: 26px;
  background: rgba(252, 252, 252, 0.3);
}

.navigation-user .navigation-item:nth-child(3) .navigation-link:hover,
.navigation-user .navigation-item:nth-child(4) .navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link:focus,
.navigation-user .navigation-item:nth-child(4) .navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.navigation-user .navigation-item:nth-child(3) .navigation-link:active,
.navigation-user .navigation-item:nth-child(4) .navigation-link:active {
  background-color: #FCFCFC;
  border-radius: 26px;
}

.navigation-user .navigation-item:not(:nth-child(4n)) {
  margin-right: 16px;
}

.navigation-user .navigation-item:first-child {
  margin-right: 18px;
}

.header-contacts-phone {
  display: block;
  padding: 5px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.header-contacts-phone:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.header-contacts-phone:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.slider-container {
  margin-bottom: 80px;
}

.slider-wrapper {
  display: flex;
  margin-left: 70px;
  justify-content: space-between;
}

.slider-description {
  display: inline-block;
  padding-top: 115px;
  max-width: 470px;
}

.button-light {
  display: block;
  box-sizing: border-box;
  padding: 8px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(252, 252, 252, 0.4);
  border-radius: 26px;
}

.order-button {
  width: 139px;
}

.slider {
  position: relative;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.slider-image {
  margin-right: 62px;
}

.slider-image-next:not(:last-child) {
  margin-right: 42px;
}

.slider-button {
  position: absolute;
  width: 38px;
  height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.slider-button-icon {
  display: block;
  padding: 9px;
  fill: #FCFCFC;

}

.slider-button:hover {
  background: #FCFCFC;
  border-radius: 26px;
}

.slider-button:focus {
  border: 2px solid #2D3440;
}

.slider-button:disabled {
  opacity: 0.4;
}

.slider-button:hover .slider-button-icon,
.slider-button:focus .slider-button-icon {

  fill: #2D3440;
}

.slider-next-button {
  left: 295px;
}

.slider-prev-button {
  left: -23px;
  transform: rotate(180deg);
}


.slider-pagination {
  display: flex;
  max-width: 112px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.slider-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.slider-pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background: #FCFCFC;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
}

.slider-pagination-button:focus {
  outline: 1px solid #2D3440;
}

.ice-cream-title {
  margin: 0;

  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.ice-cream-description {
  margin: 24px 58px 48px 0;
  font-size: 18px;
  line-height: 24px;
}

.slider-footer {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.social-link svg {
  fill: #FCFCFC;
}

.banners {
  margin-bottom: 80px;
}

.banner-intro {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.banner-columns {
  display: flex;
  justify-content: space-between;
}

.banner {
  position: relative;
  width: 570px;
  background: #FF7799;
  border-radius: 16px;
}

.banner-intro {
  display: block;
  max-width: 443px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.banner-title {
  margin: 40px 0 16px 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-description {
  margin-left: 40px;
  margin-bottom: 32px;
  max-width: 321px;
  text-align: left;
}

.left-banner .banner-picture {
  position: absolute;
  top: 25px;
  right: 15px;
  bottom: 0;
  width: 181px;
  height: 244px;
}

.right-banner .banner-picture {
  position: absolute;
  top: 19px;
  right: 7px;
  bottom: 0;
  width: 232px;
  height: 249px;
}

.favour-button {
  margin-left: 40px;
  margin-bottom: 40px;
  max-width: 176px;
  white-space: nowrap;
}


.button-light:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.button-light:focus {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-light:disabled {
  color: #B9B9B9;
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
}

.popular-products {
  margin-bottom: 80px;
}

.popular-intro {
  margin: 0 auto 107px auto;
  max-width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.item-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.item-description {
  margin: 0;
  margin-bottom: 16px;
}

.item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.advantages-container {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url(../images/background/waffle-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.advantages-wrapper {
  max-width: 1122px;
  background: #FCFCFC;
  border-radius: 16px;
}

.advantages-title {
  margin: 0;
  padding: 56px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: 506px 506px;
  gap: 40px 31px;
  margin: 0;
  padding: 0 40px 56px;
  list-style-type: none;
}

.advantages-item {
  display: flex;
}

.advantages-image {
  margin-right: 16px;
}

.advantages-description {
  margin: 0;
}

.news-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

}

.news-blog {
  width: 570px;
  background-image: url(../images/background/news-background.jpg);
  background-size: cover;
  border-radius: 16px;
}

.news-blog-title {
  margin: 32.6px 0 12.32px 32px;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.news-blog-link {
  display: block;
  max-width: 304px;
  margin-bottom: 63.15px;
  margin-left: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  text-decoration: none;

}

.newsletter {
  max-width: 570px;
  padding: 6px;
  background-image: url(../images/background/mail-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.newsletter-wrapper {
  max-width: 558px;
  padding: 26px;
  background: #FCFCFC;
  border-radius: 16px;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 42px;
  color: #565C66;
}

.newsletter .field {
  width: 332px;

  margin-right: 24px;
}

.field {
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  border-radius: 4px;
}

.field::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.field::placeholder:hover,
.field::placeholder:focus {
  color: #2D3440;
}

.field:hover {
  background: #FFFFFF;
  border: 1px solid #2D3440;
}

.field:focus {
  background: #FFFFFF;
  outline: 2px solid #2D3440;
}

.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  background-color: #FFFFFF;
  outline: 2px solid #EA5454;
}

.button-pink {
  display: block;
  box-sizing: border-box;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background: #FF2F64;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1), 0 0 0 4px rgba(255, 47, 100, 0.3);
  border-radius: 26px;
}

.newsletter-button {
  width: 152px;
}

.button-pink:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border-radius: 26px;
  box-shadow: none;
}

.button-pink:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-pink:disabled {
  color: #565C66;
  background: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  border-radius: 26px;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.delivery-container {
  display: flex;
  margin-bottom: 80px;
  padding: 64px;
  padding-left: 100px;
  background-image: url(../images/background/delivery-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-intro {
  max-width: 371px;
  margin-right: 135px;
}

.delivery-title {

  margin-top: 103px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-description {
  margin: 0;
  margin-bottom: 96px;
  color: #565C66;
}

.delivery {
  width: 500px;
  padding: 40px;
  padding-bottom: 22px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.form-description {
  margin: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.delivery-form-wrapper {
  display: flex;
  flex-wrap: wrap;

}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
}

.delivery-form .field-group:last-child {
  margin-bottom: 35px;
}

.delivery-form-phone .field {
  width: 287px;
}

.delivery-form-date .field {
  width: 117px;
  margin-right: 16px;
}

.delivery-form-adress .field {
  width: 420px;
}

.form-label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery-button {
  width: 152px;
  margin: 0 auto;
}

.contacts-container {
  margin-bottom: 48px;
  padding: 64px;
  background-image: url(../images/background/contacts-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-wrapper {
  box-sizing: border-box;
  max-width: 343px;
  padding: 40px;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-subtitle {
  display: inline-block;
  max-width: 203px;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.contacts-adress {
  font-style: normal;
}

.contacts-adress-text {
  display: inline-block;
  max-width: 263px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  display: block;
  max-width: 225px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.contacts-phone-text {
  display: block;
  max-width: 160px;
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.feedback-form-button {
  width: 250px;
  white-space: nowrap;
}

.page-footer {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 48px;
  display: flex;
}

.social {
  margin-right: 300px;
}

.social-list {
  display: flex;
  max-width: 145px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}


.social-link:hover {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 3px #FCFCFC;
}

.social-link:focus {
  background-color: #2D3440;
  outline: 1px solid #2D3440;
  box-shadow: 0 0 0 2px #2D3440;
  border-radius: 50%;
}


.social-link svg {
  fill: #FCFCFC;
  border-radius: 50%;
}

.additional-information {
  max-width: 356px;

}

.additional-information {
  margin-right: 200px;
}

.information-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.information-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.information-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 26px;

}

.information-link:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #2D3440;
  border-radius: 26px;
}

.information-link-favour {
  position: relative;
  padding-left: 23px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

.information-link-favour::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12.15px;
  left: 0;
  bottom: 3px;
  background-image: url(../images/icons/heart-icon.svg);
  background-repeat: no-repeat;
}

.information-item:nth-child(3) .information-link {
  padding-left: 23px;
}

.htmlacademy-logo {
  max-width: 193px;
  display: flex;
  flex-direction: column;


}

.htmlacademy-link {
  display: block;
  width: 93px;
  height: 27px;
  margin-bottom: 10px;
  text-decoration: none;
}

.htmlacademy-link:hover {
  background-color: #FCFCFC;
  border-radius: 10px;
}

.htmlacademy-link:focus {
  outline: 2px solid #2D3440;
  border-radius: 10px;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  border-bottom: 1px solid rgba(45, 52, 64, 0.3);
  text-decoration: none;
}

.copyright-link:hover {
  background-color: #FCFCFC;
  border-radius: 4px;
  ;
}

.copyright-link:focus {
  outline: 1px solid #2D3440;
  border-radius: 4px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background: #FCFCFC;
  border-radius: 8px;
}

.modal-feedback {
  width: 442px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  outline: 2px solid #FF2F64;
  border-radius: 4px;
}

.modal-close-button:focus {
  outline: 2px solid #2D3440;
  border-radius: 4px;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.feedback-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.feedback-form .field {
  width: 442px;
  padding: 13px 16px;
}

.comment-field {
  padding-top: 14px;
  padding-left: 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  resize: none;
}

.modal-feedback-form-button {
  margin-top: 32px;
  margin-left: 300px;
  width: 152px;
  cursor: pointer;
}

.modal-container-close {
  display: none;
}

.breadcrumps {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumps-item {
  margin-right: 28px;
}

.breadcrumps-link-prev,
.breadcrumps-link-current {
  display: block;
  position: relative;
}

.breadcrumps-item:nth-child(2) .breadcrumps-link-prev::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 6px;
  top: 6px;
  left: -15px;
  background-image: url(../images/icons/quotes-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumps-item:nth-child(3) .breadcrumps-link-current::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 6px;
  top: 6px;
  left: -15px;
  background-image: url(../images/icons/quotes-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumps-link-prev::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 2px;
  right: 0;
  background-color: #2D3440;
}


.breadcrumps-link-prev,
.breadcrumps-link-current {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.inner-header-title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog-filter-title {
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.filters {
  max-width: 831px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 99px;
}

.catalog-filter-group {
  margin: 0 24px 16px 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(4) {
  margin-bottom: 0;
}


.select-control {
  max-width: 196px;
  padding: 8px 63px 8px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icons/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  border: none;
  border-radius: 26px;
  appearance: none;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #FCFCFC;

}

.range-wrapper-inputs {
  margin-bottom: 8px;
}

.range-input {
  width: 25px;
  padding: 0 2px;
  margin-right: 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 10px;
}

.range-input:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #FCFCFC;
}

.range {
  padding: 17px 16px 17px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 1px;
}

.range-bar {
  position: absolute;
  width: 56px;
  height: 2px;
  left: 40px;
  background-color: #2D3440;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FCFCFC;
  box-shadow: inset 0 0 0 6px #2D3440;
  border-radius: 50%;
  border: none;
}

.toggle-min {
  left: -3px;
  top: -7px;
}

.toggle-max {
  left: 50px;
  top: -7px;
}

.range-toggle:hover {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC;

}

.range-toggle:focus {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC;
  outline: 2px solid #2D3440;
}

.range-toggle:active {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #2D3440;
  outline: none;
}

.catalog-filter-list {
  display: flex;
  padding: 8px 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-filter-group:nth-child(3) .catalog-filter-list {
  max-width: 367px;
  padding: 8px 16px;
}

.catalog-filter-group:nth-child(4) .catalog-filter-list {
  max-width: 596px;
  padding: 8px 16px;
}

.catalog-filter-group:nth-child(3) .catalog-filter-item:not(:last-child) {
  margin-right: 16px;
}

.catalog-filter-group:nth-child(4) .catalog-filter-item:not(:last-child):not(:nth-child(2)) {
  margin-right: 16.7px;
}

.catalog-filter-group:nth-child(4) .catalog-filter-item:nth-child(2) {
  margin-right: 24px;
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.control-input[type="checkbox"]+.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="checkbox"]:checked+.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.control:hover>.control-input[type="checkbox"]+.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/checkbox-off-hover.svg);
  background-repeat: no-repeat;
}

.control:hover>.control-input[type="checkbox"]:checked+.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/checkbox-on-hover.svg);
  background-repeat: no-repeat;
}

.control-input[type="checkbox"]:focus+.control-mark,
.control-input[type="checkbox"]:checked:focus+.control-mark {
  outline: 2px solid #FCFCFC;
  border-radius: 4px;
}

.control-input[type="radio"]+.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1.4px solid #2D3440;
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2D3440;
  content: "";
}

.control:hover>.control-input[type="radio"]+.control-mark::before {
  background-color: #FCFCFC;
}

.control:hover>.control-input[type="radio"]+.control-mark {
  border-color: #FCFCFC;
}

.control-input[type="radio"]:focus+.control-mark {
  outline: 2px solid #FCFCFC;
  border-radius: 50%;
}

.control-input:disabled+.control-mark {
  opacity: 0.3;
}

.button {
  margin-top: 26px;
  width: 197px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.button:hover {
  background: #FCFCFC;
}

.button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.button:disabled {
  opacity: 0.4;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card {
  position: relative;
  padding: 130px 40px 24px;
  background-color: #FCFCFC;
  text-align: center;
  border-radius: 8px;
}

.item-image {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 52px;
  top: -51px;
  border-radius: 50%;
}

.item-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-price {
  margin-right: 70px;
}

.product-basket-button {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  background: #FF2F64;
  border-radius: 26px;
  border: none;
}

.product-basket-button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
}

.product-basket-button:focus {
  background: #FF2F64;
  outline: 2px solid #2D3440;
}

.product-basket-button:hover .basket-icon {
  fill: #2D3440;
}

.product-basket-button:disabled {
  background: #B9B9B9;
}

.product-basket-button:disabled:hover {
  outline: none;
}

.product-basket-button:disabled .basket-icon {
  fill: #2D3440;
}


.basket-icon {
  position: absolute;
  width: 15px;
  height: 14px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 81px;
  margin-bottom: 48px;
  margin-top: 69px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);

}

.pagination {
  display: flex;
  margin: 0;
  margin-left: 303px;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  padding-left: 8px;
  padding-top: 2px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
}

.pagination-link-current {
  background-color: #FCFCFC;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.pagination-prev {

  background-image: url(../images/icons/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;

  transform: rotate(180deg);
}

.pagination-prev:hover {
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icons/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-prev:focus {
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icons/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #2D3440;
}

.pagination-next {
  background-image: url(../images/icons/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-next:hover {
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icons/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-next:focus {
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icons/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #2D3440;
}

.pagination-disabled {
  opacity: 0.4;
}

.pagination-show-more {
  box-sizing: border-box;
  width: 179px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  white-space: nowrap;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.pagination-show-more:hover {
  background: #FCFCFC;
}

.pagination-show-more:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.pagination-show-more:disabled {
  opacity: 0.4;
}

.popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 356px;
  font-family: inherit;
  color: inherit;
  background-color: #FCFCFC;
  min-height: 96px;
  border-radius: 4px;
  display: none;
}

.popover-open {
  display: block;
}

.popover-search {
  width: 356px;
  padding: 24px 16px;
}

.popover-auth {
  width: 420px;
  padding: 48px 52px 48px;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.search-field {
  position: relative;
  width: 324px;
}

.popover-content {
  height: 100%;
}

.search-pointer {
  position: absolute;
  height: 1px;
  width: 20px;
  bottom: 49px;
  left: 21px;
  background: #2D3440;
  transform: rotate(90deg);
}

.popover-auth-form .auth-form-field {
  padding: 13px 16px;
}

.popover-auth-form .field-group:first-child {
  margin-bottom: 16px;

}

.auth-form-user-options-wrapper {
  display: flex;
  margin-top: 32px;
}

.auth-form-user-options {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.auth-form-recovery {
  margin-bottom: 4px;
}

.auth-form-recovery,
.auth-form-registration {
  color: #2D3440;
}

.auth-form-field {
  width: 324px;
}

.auth-form-button {
  margin-right: 23px;
  width: 113px;
}

.popover-empty-cart {
  width: 288px;
  padding: 48px;
}

.popover-empty-cart .popover-title {
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2D3440;

}
